/*  Start Footer Styles */
.mkFooter {
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    background-color: #109bc5;
    justify-content: space-around;
}

/* About Style */

.mkAbout {
    flex: 30%
}

.mkAbout h1 {
    font-size: 26px;
    padding: 20px 0 20px 0;

}

.mkAbout img {
    background-color: white;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;

}

.mkAbout p {
    word-break: keep-all;
    width: 20vw;
    line-height: 2.5;
    font-weight: 100;
    letter-spacing: 2px;
}

/* Contact / Support style  */
.mkContact {
    padding: 20px;
    color: white;
    flex: 30%
}

.mkContact h1 {
    font-size: 26px;
    padding: 20px 0 20px 0;

}

.mkContact a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.mkContact h2 {

    font-size: 24px;
    padding: 40px 0 20px 0;

}

.mkContact input {
    margin-bottom: 20px;
    display: block;
    border: none;
    padding: 10px 40px;
    color: #a9dde9;
    background-color: #36a8c7;
}

.mkContact textarea {
    display: block;
    display: inline-block;
    border: none;
    color: #a9dde9;
    background-color: #36a8c7;
}

.mkContact button {
    cursor: pointer;
    margin: 10px;
    display: block;
    font-weight: 600;
    color: #36abce;
    padding: 10px 30px;

}

.mkContact input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: none;
}

/* Our Locatin Footer Style  */
.mkLocation {
    padding: 20px;
    color: white;
    flex: 30%
}

.mkLocation h1 {

    font-size: 26px;
    padding: 20px 0 20px 0;

}

.mkLocation p {
    line-height: 2;
}